# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Jupyter
**/.ipynb_checkpoints/

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# IDE / Editor files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
~$*

# Python virtual environments
venv/
.venv/
env/

# Logs
*.log
